In [70]:
import gzip
import requests
import pandas as pd
import os
import pickle
import errno
import datetime
from collections import namedtuple

In [50]:
BITMEX_QUOTE_URL = 'https://s3-eu-west-1.amazonaws.com/public.bitmex.com/data/quote/'
FILENAME_EXT = '.csv.gz'
# ref: https://www.bitmex.com/app/futuresGuideExamples
MONTH_CODES = {'F': 1,
               'G': 2,
               'H': 3,
               'J': 4,
               'K': 5,
               'M': 6,
               'N': 7,
               'Q': 8,
               'U': 9,
               'V': 10,
               'X': 11,
               'Z': 12}
date = '20180101'
QUOTE_PKL_DIR = os.path.join(os.getcwd(), 'pkl', 'quote')

In [51]:
def get_quote_df(date):
    quote_pkl_file = os.path.join(QUOTE_PKL_DIR, date + '.pkl')
    # try loading df from pickle if exists
    if os.path.exists(quote_pkl_file):
        with open(quote_pkl_file, 'rb') as f:
            quote_df = pickle.load(f)
    # else get CSV from BitMEX and load as df
    else:
        try:
            os.makedirs(quote_pkl_dir)
        except OSError as e:
            if e.errno != errno.EEXIST:
                raise
        resp = requests.get(BITMEX_QUOTE_URL + date + FILENAME_EXT, stream=True)
        if resp.status_code == 200:
            with gzip.open(resp.raw) as raw_resp:
                quote_df = pd.read_csv(raw_resp)
                quote_pkl_file = os.path.join(quote_pkl_dir, date + '.pkl')
                with open(quote_pkl_file, 'wb') as f:
                    pickle.dump(quote_df, f, pickle.HIGHEST_PROTOCOL)
    return quote_df

In [62]:
quote_df = get_quote_df('20180101')
quote_df.head(10)

,timestamp,symbol,bidSize,bidPrice,askPrice,askSize
0,2018-01-01D00:00:02.008398000,XBTUSD,14559,13872.500000,13873.000000,21501
1,2018-01-01D00:00:02.020619000,XBTUSD,14549,13872.500000,13873.000000,21501
2,2018-01-01D00:00:02.024411000,XBTUSD,14539,13872.500000,13873.000000,21501
3,2018-01-01D00:00:02.029607000,XBTUSD,14529,13872.500000,13873.000000,21501
4,2018-01-01D00:00:02.032495000,XBTUSD,14519,13872.500000,13873.000000,21501
5,2018-01-01D00:00:02.044164000,XBTH18,23871,14673.000000,14683.000000,30000
6,2018-01-01D00:00:02.055657000,XBTUSD,14519,13872.500000,13873.000000,24501
7,2018-01-01D00:00:02.069278000,ETHH18,8,0.056880,0.056920,15
8,2018-01-01D00:00:02.069278000,ZECH18,44,0.038318,0.041393,1
9,2018-01-01D00:00:02.254353000,XBTH18,23871,14673.000000,14673.500000,30000

In [73]:
# leave Bitcoin contracts data only
xbt_quote_df = quote_df[quote_df['symbol'].str.startswith('XBT')]
OHLC = namedtuple('OHLC', ('open', 'high', 'low', 'close'))

In [89]:
def get_day_ohlc(df):
    bid_ask_avg_df = df[['askPrice', 'bidPrice']].mean(axis=1)
    o = bid_ask_avg_df.iloc[0]
    h = max(bid_ask_avg_df)
    l = min(bid_ask_avg_df)
    c = bid_ask_avg_df[-1]
    ohlc = OHLC(o, h, l, c)
    return ohlc

In [90]:
day_ohlc = get_day_ohlc(xbt_quote_df[xbt_quote_df['symbol'] == 'XBTUSD'])

In [91]:
day_ohlc

OHLC(open=13872.75, high=14006.0, low=12772.25, close=13476.75)

In [106]:
pd.date_range('2018-01-01', '2018-08-31').to_datetime().strftime('%Y%m%d')

array(['20180101', '20180102', '20180103', '20180104', '20180105',
       '20180106', '20180107', '20180108', '20180109', '20180110',
       '20180111', '20180112', '20180113', '20180114', '20180115',
       '20180116', '20180117', '20180118', '20180119', '20180120',
       '20180121', '20180122', '20180123', '20180124', '20180125',
       '20180126', '20180127', '20180128', '20180129', '20180130',
       '20180131', '20180201', '20180202', '20180203', '20180204',
       '20180205', '20180206', '20180207', '20180208', '20180209',
       '20180210', '20180211', '20180212', '20180213', '20180214',
       '20180215', '20180216', '20180217', '20180218', '20180219',
       '20180220', '20180221', '20180222', '20180223', '20180224',
       '20180225', '20180226', '20180227', '20180228', '20180301',
       '20180302', '20180303', '20180304', '20180305', '20180306',
       '20180307', '20180308', '20180309', '20180310', '20180311',
       '20180312', '20180313', '20180314', '20180315', '20180316',
       '20180317', '20180318', '20180319', '20180320', '20180321',
       '20180322', '20180323', '20180324', '20180325', '20180326',
       '20180327', '20180328', '20180329', '20180330', '20180331',
       '20180401', '20180402', '20180403', '20180404', '20180405',
       '20180406', '20180407', '20180408', '20180409', '20180410',
       '20180411', '20180412', '20180413', '20180414', '20180415',
       '20180416', '20180417', '20180418', '20180419', '20180420',
       '20180421', '20180422', '20180423', '20180424', '20180425',
       '20180426', '20180427', '20180428', '20180429', '20180430',
       '20180501', '20180502', '20180503', '20180504', '20180505',
       '20180506', '20180507', '20180508', '20180509', '20180510',
       '20180511', '20180512', '20180513', '20180514', '20180515',
       '20180516', '20180517', '20180518', '20180519', '20180520',
       '20180521', '20180522', '20180523', '20180524', '20180525',
       '20180526', '20180527', '20180528', '20180529', '20180530',
       '20180531', '20180601', '20180602', '20180603', '20180604',
       '20180605', '20180606', '20180607', '20180608', '20180609',
       '20180610', '20180611', '20180612', '20180613', '20180614',
       '20180615', '20180616', '20180617', '20180618', '20180619',
       '20180620', '20180621', '20180622', '20180623', '20180624',
       '20180625', '20180626', '20180627', '20180628', '20180629',
       '20180630', '20180701', '20180702', '20180703', '20180704',
       '20180705', '20180706', '20180707', '20180708', '20180709',
       '20180710', '20180711', '20180712', '20180713', '20180714',
       '20180715', '20180716', '20180717', '20180718', '20180719',
       '20180720', '20180721', '20180722', '20180723', '20180724',
       '20180725', '20180726', '20180727', '20180728', '20180729',
       '20180730', '20180731', '20180801', '20180802', '20180803',
       '20180804', '20180805', '20180806', '20180807', '20180808',
       '20180809', '20180810', '20180811', '20180812', '20180813',
       '20180814', '20180815', '20180816', '20180817', '20180818',
       '20180819', '20180820', '20180821', '20180822', '20180823',
       '20180824', '20180825', '20180826', '20180827', '20180828',
       '20180829', '20180830', '20180831'], dtype='<U8')

In [107]:
def get_quote_dfs(start, end):
    date_range = pd.date_range(start, end).to_datetime().strftime('%Y%m%d')
    quote_dfs = []
    for date in date_range:
        df = get_quote_df(date)
        quote_dfs.append(df)
    return quote_dfs

In [ ]:
quote_dfs = get_quote_dfs('2018-01-01', '2018-03-31')

In [109]:
xbt_quote_df[xbt_quote_df['symbol'] == 'XBTH18']

,timestamp,symbol,bidSize,bidPrice,askPrice,askSize
5,2018-01-01D00:00:02.044164000,XBTH18,23871,14673.0,14683.0,30000
9,2018-01-01D00:00:02.254353000,XBTH18,23871,14673.0,14673.5,30000
12,2018-01-01D00:00:02.389472000,XBTH18,23871,14673.0,14673.5,36000
17,2018-01-01D00:00:03.291989000,XBTH18,23871,14673.0,14673.5,30000
18,2018-01-01D00:00:03.299370000,XBTH18,23871,14673.0,14673.5,20000
27,2018-01-01D00:00:05.461763000,XBTH18,23871,14673.0,14682.5,30000
28,2018-01-01D00:00:05.605438000,XBTH18,23871,14673.0,14673.5,20000
29,2018-01-01D00:00:05.623529000,XBTH18,23871,14673.0,14683.0,20000
30,2018-01-01D00:00:05.650214000,XBTH18,23871,14673.0,14673.5,20000
31,2018-01-01D00:00:05.670224000,XBTH18,23871,14673.0,14683.0,20000
35,2018-01-01D00:00:05.783033000,XBTH18,23871,14673.0,14673.5,20000
50,2018-01-01D00:00:06.361507000,XBTH18,23871,14673.0,14682.5,20000
62,2018-01-01D00:00:06.758666000,XBTH18,23871,14673.0,14673.5,20000
74,2018-01-01D00:00:07.157846000,XBTH18,23871,14673.0,14682.0,20000
79,2018-01-01D00:00:07.278295000,XBTH18,23871,14673.0,14682.0,10000
83,2018-01-01D00:00:07.383250000,XBTH18,23071,14673.0,14682.0,10000
84,2018-01-01D00:00:07.463281000,XBTH18,23071,14673.0,14673.5,20000
91,2018-01-01D00:00:07.605475000,XBTH18,23071,14673.0,14681.5,10000
120,2018-01-01D00:00:08.677768000,XBTH18,23071,14673.0,14683.5,82
151,2018-01-01D00:00:10.580785000,XBTH18,2677,14673.5,14683.5,82
152,2018-01-01D00:00:10.590854000,XBTH18,2677,14673.5,14697.0,82
159,2018-01-01D00:00:10.889736000,XBTH18,40000,14674.0,14697.0,82
165,2018-01-01D00:00:11.500184000,XBTH18,40000,14674.0,14696.5,10000
168,2018-01-01D00:00:11.554519000,XBTH18,2677,14674.5,14696.5,10000
185,2018-01-01D00:00:12.183045000,XBTH18,2677,14674.5,14696.5,11000
196,2018-01-01D00:00:12.903188000,XBTH18,3273,14674.0,14696.5,11000
199,2018-01-01D00:00:12.976245000,XBTH18,40000,14675.0,14696.5,11000
206,2018-01-01D00:00:13.281465000,XBTH18,43191,14675.0,14696.5,11000
208,2018-01-01D00:00:13.291067000,XBTH18,8000,14681.5,14696.5,11000
226,2018-01-01D00:00:13.810966000,XBTH18,40000,14682.0,14696.5,11000
...,...,...,...,...,...,...
1255602,2018-01-01D23:59:55.487490000,XBTH18,19900,14299.0,14307.5,10000
1255603,2018-01-01D23:59:55.506384000,XBTH18,19900,14305.5,14307.5,10000
1255606,2018-01-01D23:59:55.594540000,XBTH18,19900,14299.5,14307.5,10000
1255610,2018-01-01D23:59:55.711936000,XBTH18,19900,14306.0,14307.5,10000
1255612,2018-01-01D23:59:55.872129000,XBTH18,19900,14300.0,14307.5,10000
1255618,2018-01-01D23:59:56.063005000,XBTH18,19900,14300.0,14307.5,10200
1255619,2018-01-01D23:59:56.508547000,XBTH18,19900,14306.5,14307.5,10200
1255639,2018-01-01D23:59:57.276468000,XBTH18,19900,14306.5,14307.5,200
1255646,2018-01-01D23:59:57.589390000,XBTH18,19900,14300.5,14307.5,200
1255648,2018-01-01D23:59:57.687558000,XBTH18,19900,14300.5,14307.5,700
1255650,2018-01-01D23:59:57.713040000,XBTH18,19900,14307.0,14307.5,700
1255652,2018-01-01D23:59:57.869934000,XBTH18,19900,14301.0,14307.5,700
1255656,2018-01-01D23:59:57.975550000,XBTH18,19900,14307.0,14307.5,700
1255663,2018-01-01D23:59:58.101708000,XBTH18,19900,14301.5,14307.5,700
1255664,2018-01-01D23:59:58.173744000,XBTH18,19900,14307.0,14307.5,700
1255667,2018-01-01D23:59:58.300587000,XBTH18,19900,14302.0,14307.5,700
1255668,2018-01-01D23:59:58.382657000,XBTH18,19900,14307.0,14307.5,700
1255675,2018-01-01D23:59:58.511834000,XBTH18,19900,14302.5,14307.5,700
1255678,2018-01-01D23:59:58.599871000,XBTH18,19900,14307.0,14307.5,700
1255680,2018-01-01D23:59:58.681656000,XBTH18,19900,14299.0,14307.5,700
1255682,2018-01-01D23:59:58.751994000,XBTH18,19900,14307.0,14307.5,700
1255687,2018-01-01D23:59:58.902806000,XBTH18,19900,14299.5,14307.5,700
1255692,2018-01-01D23:59:58.983554000,XBTH18,19900,14307.0,14307.5,700
1255693,2018-01-01D23:59:59.093781000,XBTH18,19900,14300.0,14307.5,700
1255694,2018-01-01D23:59:59.183207000,XBTH18,19900,14307.0,14307.5,700
1255696,2018-01-01D23:59:59.308966000,XBTH18,19900,14299.0,14307.5,700
1255697,2018-01-01D23:59:59.369553000,XBTH18,19900,14307.0,14307.5,700
1255703,2018-01-01D23:59:59.508403000,XBTH18,19900,14299.0,14307.5,700
1255704,2018-01-01D23:59:59.586609000,XBTH18,19900,14307.0,14307.5,700
1255706,2018-01-01D23:59:59.663627000,XBTH18,19900,14299.0,14307.5,700